.env.development
.env.production
.python-version
/backend/.env
/node_modules
/frontend/node_modules
/frontend/.pnpm-store
/backend/user-service/__pycache__
/backend/content-service/__pycache__
/backend/shared/alembic/__pycache__
.env.development
