@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #1a1433;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #9980f2 rgb(26, 20, 51,0.1);
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #9980f2;
  border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #1a1433;
}
